<!DOCTYPE html>

<html>
    <body>

        <link type="text/css" rel="stylesheet" href="/static/style.css" />

        <h2>Login</h2>
        <div>
            <a href="/">Home</a>
        </div>

        <hr>
        <form method="post">
            <table>
                <tr>
                    <td class="entry">User Name</td>
                    <td>
                        <input type="text" name="username" value="{{userName}}">
                    </td>
                </tr>
                <tr>
                    <td class="entry">Password</td>
                    <td><input type="password" name="password" value=""></td>
                </tr>
               
            </table> 
            <div class="error">{{error}}</div>   
            
            <input type="submit" class="btn">
        
        </form>
  </body>  
</html>